<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="/blog/manifest.json">
    <link rel="icon" href="/blog/images/icons/icon-152x152.png">
  <!-- theme-color defines the top bar color (blue in my case)-->
  <meta name="theme-color" content="#008aff"/>
  
  <!-- Add to home screen for Safari on iOS-->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
  <meta name="apple-mobile-web-app-title" content="Alex Jover Blog"/>
  <link rel="apple-touch-icon" href="/blog/images/icons/icon-152x152.png"/>
  
  <!-- Add to home screen for Windows-->
  <meta name="msapplication-TileImage" content="/blog/images/icons/icon-152x152.png"/>
  <meta name="msapplication-TileColor" content="#000000"/>

  <meta charset="utf-8">

  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <%- css('css/style') %>
</head>
